Repository MideTechnology/endaq-python, pull requests merged in 2022-01, with the labels that each got.

#125 Feature/plot docs
  docs/conf.py
  docs/endaq/calc_usage.rst
  docs/requirements.txt
  setup.py
Labels: documentation

#116 Feature/batch/add halfsine
  endaq/batch/core.py
  tests/batch/test_core.py
Labels: endaq.batch

#121 Feature/batch/audio pascals
  endaq/batch/analyzer.py
  tests/batch/DAQ12006_000005.IDE
  tests/batch/test_analyzer.py
Labels: endaq.batch

#122 Feature/batch/add humidity
  endaq/batch/analyzer.py
  endaq/batch/core.py
  tests/batch/test_analyzer.py
Labels: endaq.batch

#124 Fix/batch/peaks plot
  endaq/batch/core.py
  tests/batch/test_core.py
Labels: endaq.batch

#151 Feature/batch/units in docs
  endaq/batch/analyzer.py
  endaq/batch/core.py
Labels: endaq.batch

#148 Feature/batch/refactor ide utils
  endaq/batch/analyzer.py
  endaq/batch/utils/ide_utils.py
  tests/batch/test_core.py
Labels: endaq.batch

#157 Fix/batch/filenames
  endaq/batch/core.py
  endaq/ide/files.py
  tests/batch/High-Drop.IDE
  tests/batch/test_core.py
Labels: bug, endaq.batch
